In [1]:
import pandas as pd

from eelib.scripttools import MoaTable

In [2]:
csv = pd.read_csv("../testing_data/development_Phase01_benchmark_samples-benchmark.csv")
csv.head()

,system:index,B1,B10,B10_1,B11,B11_1,B12,B12_1,B1_1,B2,...,VH,VH_1,VV,VV_1,Wetness,Wetness_1,elevation,land_cover,slope,.geo
0,0_0,1089,11,9,1515,1960,879,1031,1267,904,...,-17.539353,-20.045762,-9.308320,-10.235032,6.8775,39.9850,737,Bog,1.849940,"{""type"":""MultiPoint"",""coordinates"":[]}"
1,1_0,1015,11,9,1226,1223,613,489,1158,793,...,-13.256133,-15.303766,-6.488043,-9.193535,-210.9801,147.3749,742,Bog,1.851302,"{""type"":""MultiPoint"",""coordinates"":[]}"
2,2_0,1076,14,9,1837,1575,1114,682,1179,864,...,-15.524323,-18.604238,-8.532168,-12.360725,-681.3208,24.9988,739,Bog,1.600788,"{""type"":""MultiPoint"",""coordinates"":[]}"
3,3_0,1077,12,10,1603,1949,959,982,1272,899,...,-18.664864,-21.655526,-10.001586,-8.451124,-134.5498,61.4145,736,Bog,0.000000,"{""type"":""MultiPoint"",""coordinates"":[]}"
4,4_0,1014,11,7,1447,1351,835,565,1159,771,...,-13.982378,-15.385763,-8.243375,-6.589175,-466.0208,-31.1182,738,Bog,0.927410,"{""type"":""MultiPoint"",""coordinates"":[]}"

In [3]:
csv.columns

Index(['system:index', 'B1', 'B10', 'B10_1', 'B11', 'B11_1', 'B12', 'B12_1',
       'B1_1', 'B2', 'B2_1', 'B3', 'B3_1', 'B4', 'B4_1', 'B5', 'B5_1', 'B6',
       'B6_1', 'B7', 'B7_1', 'B8', 'B8A', 'B8A_1', 'B8_1', 'B9', 'B9_1',
       'Brightness', 'Brightness_1', 'CID', 'Greenness', 'Greenness_1', 'NDVI',
       'NDVI_1', 'Ratio', 'Ratio_1', 'SAVI', 'SAVI_1', 'VH', 'VH_1', 'VV',
       'VV_1', 'Wetness', 'Wetness_1', 'elevation', 'land_cover', 'slope',
       '.geo'],
      dtype='object')

In [4]:
table = MoaTable(
    dfin=csv,
    label='land_cover'
)

c:\users\ryanh\work\programming\packages\earthengine-library\eelib\scripttools.py:114: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  self._samples = dfin

In [5]:
table.to_csv("../testing_data/moa-scores.csv")

In [6]:
predictors = table.extract_by_rank(rank=1)
predictors

['B11',
 'slope',
 'NDVI',
 'B5_1',
 'SAVI',
 'B9',
 'VH',
 'Brightness_1',
 'B11_1',
 'Greenness_1',
 'SAVI_1',
 'NDVI_1']

In [7]:
table.plot_moa_dis(
    predictors=predictors,
    dir="../testing_data/plots"
)

In [8]:
table

          labels  rank        band    scores
0        Bog:Fen     1         B11  1.046178
1        Bog:Fen     2         B12  1.034024
2        Bog:Fen     3          B9  1.032765
3        Bog:Fen     4         B8A  1.010754
4        Bog:Fen     5  Brightness  1.007078
..           ...   ...         ...       ...
919  Swamp:Water    40        B3_1  0.357695
920  Swamp:Water    41          B1  0.354995
921  Swamp:Water    42          B4  0.286446
922  Swamp:Water    43       B10_1  0.175637
923  Swamp:Water    44          B2  0.109083

[924 rows x 4 columns]